<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    

    <title>Anto Dominic | Portfolio & Blog</title>
    <meta name="description" content="FullStack Developer, Entrepreneur, Tech Geek ,Social Media Enthusiast & IEEE volunteer. Interested in Embedded System, Robotics and Programming.">
    <meta name="author" content="Anto Dominic">
    <meta name="url" content="http://antodominic.com/">
    <meta name="photo" content="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10881579_10205328378997831_3338370704978719124_n.jpg?oh=2b180a13ba2a87d53ba6dc85de188a21&amp;oe=552E2A8D&amp;__gda__=1428232920_1c703e24507ab6cf2fcd11767b3a9f2a">

<!-- GOOGLE Snippet STARTS -->
<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Person">

<!-- Add the following three tags inside head. -->
<meta itemprop="name" content="Anto Dominic">
<meta itemprop="description" content="FullStack Developer , Entrepreneur , Tech Geek , Social Media Enthusiast and IEEE volunteer. Love to do research on embedded systems, Robotics and Computer programming.">
<meta itemprop="image" content="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10881579_10205328378997831_3338370704978719124_n.jpg?oh=2b180a13ba2a87d53ba6dc85de188a21&amp;oe=552E2A8D&amp;__gda__=1428232920_1c703e24507ab6cf2fcd11767b3a9f2a">
<meta itemprop="role" content="FullStack Developer">
<meta itemprop="affiliation" content="pepalo">
<meta itemprop="url" content="http://antodominic.com">
<meta itemprop="address" content="Thodupuzha, Idukki District">
<!-- GOOGLE Snippet STOPS -->


<meta name="google-site-verification" content="pIoK9Zw1wXfMv-Kw_O1bQkAW7Z9al5YcMagnUrfi8E8" />

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/blog/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/blog/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./blog/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>