<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    

    <title>Anto Dominic | Portfolio & Blog</title>
    <meta name="description" content="FullStack Developer, Entrepreneur, Tech Geek ,Social Media Enthusiast and IEEE volunteer. Interested in Embedded System, Robotics and Programming.">
    <meta name="author" content="Anto Dominic">
    <meta name="url" content="http://antodominic.com/">
    <meta name="image" content="http://antodominic.com/anto-cover.png">

<!-- GOOGLE Snippet STARTS -->
<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Person">

<!-- Add the following three tags inside head. -->
<meta itemprop="name" content="Anto Dominic">
<meta itemprop="description" content="FullStack Developer , Entrepreneur , Tech Geek , Social Media Enthusiast and IEEE volunteer. Love to do research on embedded systems, Robotics and Computer programming.">
<meta itemprop="image" content="http://antodominic.com/anto-cover.png">
<meta itemprop="role" content="FullStack Developer">
<meta itemprop="affiliation" content="pepalo">
<meta itemprop="url" content="http://antodominic.com">
<meta itemprop="address" content="Thodupuzha, Idukki District">
<link rel="author" href="https://plus.google.com/+AntoDominic"/>
<!-- GOOGLE Snippet STOPS -->


<meta name="google-site-verification" content="pIoK9Zw1wXfMv-Kw_O1bQkAW7Z9al5YcMagnUrfi8E8" />

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/blog/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/blog/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./blog/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>